body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

#info {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100px;
  text-align: center;
  z-index: 100;
  display: block;
  padding: 20px 20px;
  border-radius: 20px;
  background-color: aquamarine;
  font-family: Arial, Helvetica, sans-serif;
}

canvas {
  min-width: 100%;
  min-height: 100%;
}
